@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    color: #f2f2f2;
    margin-bottom: 15px;
}

body {
    background-color: rgba(114, 137, 235, 0.864);
    font: normal 18pt Arial;
    padding: 20px;
}

section {
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.53);
}

.medidor {
    position: relative;
    width: fit-content;
    display: flex;
    margin-bottom: 10px;
}

#container {  
    position: absolute;
    height: 5px;
    width: 150px;
    bottom: 0px;
    transform: translateX(151px);
    background-image: linear-gradient(#5bde7a, #3b8c4e);
    border-radius: 10px 10px 0px 0px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    height: 22px;
    margin: 10px 0px;
}

.campo {
    height: 100%;
    width: 50%;
    font-size: 19px;
}

.button {
    width: 28%;
    height: 115%;
    font-size: 17px;
    border: 1px solid black;
    background-color: white;
    margin-left: 5px;
}

.b1 {
    margin-right: 16px;
}

.valor { 
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

#res {
    display: none;
}

.button:hover {
    background-color: rgba(216, 223, 255, 0.864);
}

footer {
    margin-top: 20px;
    color: white;
    text-align: center;
}