@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p {
    text-indent: 30px;
}

body {
    background-color: #df406af8;
}

.content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #F2507B;
    width: 1250px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    margin: 40px;
    gap: 15px;
    color: white;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-lista {
    display: flex;
    align-items: center;
    height: 60px;
    width: 700px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #F2CF63;
    color: #510E59;
    font-size: 40px;
}